[submodule "externals/FontBuddy"]
	path = externals/FontBuddy
	url = git@github.com:dmanning23/FontBuddy.git
[submodule "externals/XNA"]
	path = externals/XNA
	url = git@github.com:dmanning23/XnaCompiledResources.git
[submodule "externals/ouya-csharp"]
	path = externals/ouya-csharp
	url = git@github.com:dmanning23/ouya-csharp.git
[submodule "externals/MonoGame"]
	path = externals/MonoGame
	url = git@github.com:dmanning23/MonoGame.git
